html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}

.banner {
  height: 30rem;
  background-image: url("./images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
}


.left {
  display: flex;
  align-items: center;
}

.left img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.left h2 {
  color: white;
  font-size: 1rem;
  font-family: helvetica;
}

.links {
  display: flex;
  margin: 1rem 0;
  color: white;
}

.links li {
  margin: 0rem 2rem;
}

.slogan {
  float: right;
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
}

.slogan h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.main .container {
  display: flex;
  justify-content: center;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem 3rem;
}

.services img {
  width: 3.5rem;
}

.services h2 {
  font-size: 1rem;
  text-align: center;
}

.info {
  margin: 0 2.5%;
  width: 35%;
}
.info h2 {
  width: 50%;
  color: white;
  background-color: cadetblue;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}

.info p {
  margin-top: 1rem;
  line-height: 1.4;
  margin-bottom: 5rem;
}

footer {
  background-color: azure;
  max-width: 960px;
  margin: 0 auto;
}

.copy {
  display: flex;
  align-items: center;
}
.copy img {
  height: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .banner {
    height: 22rem;
    padding-top: 0rem;
  }
  .slogan {
    padding: .75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .slogan h1 {
    font-size: 1.33rem;
  }
}
